.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px 32px 16px;
}

.logo-header {
    width: 118px;
      max-width: 38vw;
  height: auto;
  padding-top: 12px;
}

.header-cta {
    color: #fff;
    background-color: #8172F8;
    border-radius: 10px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 600;
}

.hamburger {
  width: 32px;
  height: 32px;
  cursor: pointer;
}