.terms-privacy-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px 24px;
    gap: 16px;    
}

.terms-privacy-container h1 {
    text-align: center;
    font-size: 24px;
    margin: 0;  
}

.terms-privacy-container h2 {
    font-size: 18px;
    margin: 0;
}

.terms-privacy-container p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.privacy-policy-h2 {
    padding-top: 32px;
}